:root {
  --primary: #525bdd;
  --ok: #56c78c;
  --warning: #f3744a;
  --background: #e7eaef;
  --background-primary: #bfc3f7;
  --text-gray: #5c5c5c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button, input, dialog {
  display: block;
  border: none;
}

hr {
  color: var(--background);
  margin: 15px 0;
  opacity: .3;
}