:root {
  --primary: #525bdd;
  --ok: #56c78c;
  --warning: #f3744a;
  --background: #f7f8fd;
  --background-primary: #bfc3f7;
  --text-gray: #5c5c5c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Inter, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}